.container {
	font-family: "Montserrat";
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 2rem;
}

.drop-zones {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.drop-zone {
  border: 1px dashed #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  min-height: 100px;
  background-color: white;
  transition: background-color 0.3s ease;
  position: relative;
}

.drop-zone.hover {
  background-color: #664acc13;
  border-color: #664acc;
}
.status-icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.drop-zone.correct {
  border-color: #01e979;

  border-style: solid;
}
.drop-zone.show-answer {
  border-color: #cccccc;

  border-style: solid;
}

.drop-zone.wrong {
  border-color: #f44336;
  border-style: solid;
}

.drop-zone-title {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 1rem;
}

.dropped-items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.draggable-items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin: 1.5rem 0;
}

.item {
  display: flex;
  background-color: #f3f3f3;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: 16px;
  font-weight: 500;
  cursor: grab;
  user-select: none;
  gap: 0.5rem;
  align-items: center;
  box-shadow: 0 0 1 0.4px #ccc;
  &.disabled {
    cursor: not-allowed;
  }
}

.item.dragging {
  opacity: 0;
  cursor: grabbing;
}

.custom-drag-layer {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
}

.drag-preview {
  background-color: #f3f3f3;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.centered-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (hover: none) {
  .item {
    cursor: default;
  }
}
