.step-card {
	position: relative;
	background-color: white;
	border-radius: 4px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px;
	overflow: hidden;
	border-left: 5px solid var(--info-color);
	padding: 16px;
	margin: 1px 0;
}

.step-header {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	gap: 15px;
}

.step-number {
	font-size: 18px;
	font-weight: 700;
	padding: 5px 10px;
	border-radius: 4px;
	text-align: center;
}

.step-title {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--secondary-color);
}

.step-content {
	line-height: 1.5;
}

.info-box {
	background-color: #f0f9ff;
	border-radius: 4px;
	padding: 16px;
	display: flex;
	align-items: center;
	font-size: 0.9rem;
}

.info-box svg {
	color: var(--info-color);
	margin-right: 10px;
}

.input-section {
	display: flex;
	flex-direction: column;
	background-color: var(--revealed-background);
	padding: 16px;
	border-radius: 4px;
	gap: 16px;
}